
body {
    margin: 0;
    padding: 0;
    background-image: url("firemanhose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans';
}

img {
    width: 12%;
    margin-left: 1%;
    margin-top: 1%;
}

p {
    color: white;
    font-size: 120%;
    width: 500px;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
    margin-right:5%;
}

#PostalCode {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:20rem;
    height: 5%;
    margin-left: 10%;
    margin-top: 16%;
    font-family: 'Open Sans';
}

#SubmitButton {
    margin-right: 20%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 5%;
    margin-top: 16%;
    margin-left: 0.5rem;
    font-family: 'Open Sans';


}


.vl {
    border-left: 4px solid white;
    height: 45rem;
    opacity: 74%;
    width:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  div {
      display: flex;
  }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }